<h2>Exploratory Data Analysis - Python</h2>

This following exploratory data analysis is one of the principal component of Data Science. First of all, the exploratory data analysis help the data scientist / or the data engineer to understand the DATA properly in aspect of: data quality | data exploration | business main characteristics and the data can tell us to help the hypothesis formulation.

<H6> In this example, we will be work on Python BTW it should be developed in many languages.

In [1]:
#library imports

import pandas as pd # our best friend in this journey
import numpy as np  
import matplotlib.pyplot as plt
%matplotlib inline

<h5> show where you are:

In [13]:
ls

 O volume na unidade D é DATA
 O Número de Série do Volume é 0ABC-D549

 Pasta de D:\projects\datascience\1_exploratory_analysis

04/02/2020  10:05    <DIR>          .
04/02/2020  10:05    <DIR>          ..
28/01/2020  18:11    <DIR>          .ipynb_checkpoints
21/09/2019  11:06            16.018 Car_sales.csv
28/01/2020  17:20                50 source.txt
04/02/2020  10:05             9.920 Untitled.ipynb
               3 arquivo(s)         25.988 bytes
               3 pasta(s)   906.369.773.568 bytes disponíveis

In [14]:
#read the file
df = pd.read_csv('Car_Sales.csv')

In [16]:
#see the size of your dataframe (lines qty, columns qty)
df.shape

(157, 16)

In [20]:
#show first 5 lines of your dataframe
df.head(5)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639

In [23]:
# Verify Null values across the columns
df.isna().sum()

Manufacturer            0
Model                   0
Sales_in_thousands      0
__year_resale_value    36
Vehicle_type            0
Price_in_thousands      2
Engine_size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb_weight             2
Fuel_capacity           1
Fuel_efficiency         3
Latest_Launch           0
Power_perf_factor       2
dtype: int64